<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>

        <div class="main-content">
            {{>header}}
            <img class = "potrait" src="/img/dev.jpg">
            <p>This site was created by Pranali Lokam. It uses data from weatherstack.com</p>
        </div>
        
        {{>footer}}
    </body>
</html>